<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg ">
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li><a class="active" href="#">FilesHub</a>
        </li>
    </ul>
    <!-- END BREADCRUMB -->
    <h3 class="page-title">FilesHub</h3>
</div>
<div class="container-fluid container-fixed-lg">
    <div class="row">
        <div class="col-md-6">
            <form role="form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Description" ng-model="description"/>
                </div>
                <div class="form-group">
                    <ui-select ng-model="vendor.selected" theme="bootstrap" ng-change="onChangeVendor()">
                        <ui-select-match placeholder="Select a Vendor">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="vendor in vendors | filter: $select.search">
                            <span ng-bind="vendor"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <ui-select ng-model="network.selected" theme="bootstrap" ng-change="onChangeNetwork()">
                        <ui-select-match placeholder="Select a network">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="network in networks | filter: $select.search">
                            <span ng-bind="network"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <ui-select ng-model="filetype.selected" theme="bootstrap">
                        <ui-select-match placeholder="Select a FileType">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="filetype in filetypes | filter: $select.search">
                            <span ng-bind="filetype"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <input type="file" nv-file-select="" uploader="uploader" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-cons" ng-click="uploadFile()">Upload</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-primary btn-cons" ng-click="onProcessAll()">Process All</button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-danger btn-cons" ng-click="onDeleteAll()">Delete All</button>
                </div>
                <div class="col-md-6">

                </div>
            </div>
            <table class="table ">
                <thead>
                    <tr>
                        <td>FileName</td>
                        <td>Description</td>
                        <td>FileType</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="uf in uploaded_files">
                        <td>
                            {{ uf.filename }}
                        </td>
                        <td>
                            {{ uf.description }}
                        </td>
                        <td>
                            {{ uf.filetype }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <td>Date</td>
                    <td>File Name</td>
                    <td>Type of File</td>
                    <td>Network</td>
                    <td>Vendor</td>
                    <td>Description</td>
                    <td>File</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="f in work_files">
                    <td></td>
                    <td> {{ f.filename }}</td>
                    <td>{{ f.filetype }}</td>
                    <td>{{ f.network }}</td>
                    <td>{{ f.vendor }}</td>
                    <td>{{ f.description }}</td>
                    <td><a href='/static/{{ f.result }}'>{{ f.result }}</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
