<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg ">
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li><a class="active" href="#">Projects</a>
        </li>
    </ul>
    <!-- END BREADCRUMB -->
    <h3 class="page-title">Projects</h3>
</div>
<div class="container-fluid container-fixed-lg">
    <table class="table">
        <tr ng-repeat="project in projects">
            <td><a href ng-click="onClick(project.id)">{{ project.name }}</td>
            <td><button class="btn btn-danger" ng-click="onDelete(project.id)">Delete</button></td>
        </tr>
    </table>
</div>
